@import 'scss/variables';

.poContainer {
  display: flex;
  margin: 1rem;
}

.pokemonCard {
  position: relative;
  height: 300px;
  width: 185px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  border-radius: 20px;
  transition: transform 1.5s;
  transform-style: preserve-3d;

  @media (max-width: 440px) {
    height: 240px;
    width: 145px;
  }
}

.cardFront {
  background: linear-gradient(150deg, $color-white 50%, $color-red 50%);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  color: $color-white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 4px solid $color-white;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.coverWrap {
  width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

img {
  width: 70%;
}

.circle {
  padding: 65px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  top: 6%;
  z-index: -1;
}

.pokeId {
  margin-top: 10px;
  border-radius: 20px;
  padding: 3px 10px;
  font-size: 1.1rem;
  background: rgba(0, 0, 0, 0.2);
}

.pokeNme {
  font-weight: bold;
  text-align: center;
}
