@import 'scss/variables';

.container {
  max-width: 920px;
  margin: 0 auto;
}

.pokemonImg {
  width: 50%;
}

.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  align-items: center;
}