@import 'scss/variables';

.loaderSkeleton {
  margin: 16px;
}

.listWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.pokemonItem {
  color: $color-grey;
  text-decoration: none;
  text-align: center;
  width: 20%;
  margin: 16px;

  @media (max-width: 440px) {
    width: 38%;
  }
}
